[user]
	name = Hong Minhee
	email = hongminhee@member.fsf.org
[color]
	ui = auto
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	f = fetch --all -p
	co = checkout -b
	st = status --short --branch
[core]
	editor = vim
