[user]
	name = Hong Minhee
	useConfigOnly = true
[color]
	ui = auto
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	f = fetch --tags --all -p
	ci = commit
	co = checkout -b
	st = status --short --branch
[log]
	date = iso8601
[core]
	editor = nvim
	excludesfile = /Users/dahlia/.gitignore_global
[pull]
	ff = only
[init]
	defaultBranch = main
